.spotifyContainer{
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container a{
    color: inherit;
    text-decoration: none;
}