.container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url("") no-repeat center center fixed; */

    background-image: url("../public/images/4waves.gif");
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: repeat-x; */
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 1.5vh;
    border-radius: 1vh;
    backdrop-filter: invert(50%);
}